<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ucrefactoring/1.0"
            class="edu.unicen.ucrefactoring.model.UCRefactoringPackage"
            genModel="model/ucrefactoring.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="ucrefactoring"
            class="edu.unicen.ucrefactoring.model.util.UCRefactoringResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.unicen.ucrefactoring.gui.UCRPerspective"
            icon="src/edu/unicen/ucrefactoring/resources/icon_zoom_up.gif"
            id="edu.unicen.ucrefactoring.gui.UCRPerspective"
            name="Use Case Refactoring">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view
            class="edu.unicen.ucrefactoring.gui.UCRCompareView"
            id="edu.unicen.ucrefactoring.gui.UCRCompareView"
            name="Compare Panel">
      </view>
      <view
            class="edu.unicen.ucrefactoring.gui.UCRUseCasesView"
            id="edu.unicen.ucrefactoring.gui.UCRUseCasesView"
            name="Use Case List">
      </view>
      <view
            class="edu.unicen.ucrefactoring.gui.UCRDataView"
            id="edu.unicen.ucrefactoring.gui.UCRDataView"
            name="Data">
      </view>
   </extension>

</plugin>
