<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ucrefactoring/1.0"
            class="edu.unicen.ucrefactoring.model.UCRefactoringPackage"
            genModel="model/ucrefactoring.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="ucrefactoring"
            class="edu.unicen.ucrefactoring.model.util.UCRefactoringResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.unicen.ucrefactoring.gui.UCRPerspective"
            icon="src/edu/unicen/ucrefactoring/resources/perspective.ico"
            id="edu.unicen.ucrefactoring.gui.UCRPerspective"
            name="Use Case Refactoring">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view
            class="edu.unicen.ucrefactoring.gui.UCRCompareView"
            icon="src/edu/unicen/ucrefactoring/resources/compareView.ico"
            id="edu.unicen.ucrefactoring.gui.UCRCompareView"
            name="Compare Panel">
      </view>
      <view
            class="edu.unicen.ucrefactoring.gui.UCRUseCasesView"
            icon="src/edu/unicen/ucrefactoring/resources/useCaseView.ico"
            id="edu.unicen.ucrefactoring.gui.UCRUseCasesView"
            name="Use Case List">
      </view>
      <view
            class="edu.unicen.ucrefactoring.gui.UCRDataView"
            icon="src/edu/unicen/ucrefactoring/resources/infoView.ico"
            id="edu.unicen.ucrefactoring.gui.UCRDataView"
            name="Refactoring List">
      </view>
   </extension>
   <extension
         id="edu.unicen.ucrefactoring.visualiser"
         name="UCRefactoring Visualiser Provider"
         point="org.eclipse.contribution.visualiser.providers">
      <provider
            contentProviderClass="edu.unicen.ucrefactoring.visualiser.UCRVisualContentProvider"
            description="Provider that shows refactorings  arrange according to the source documents."
            id="edu.unicen.ucrefactoring.visualiser.UCRVisualiser"
            markupProviderClass="edu.unicen.ucrefactoring.visualiser.UCRVisualMarkupProvider"
            name="UCR Visualiser Provider"
            title="UCRefactoring Visual Provider">
      </provider>
   </extension>

</plugin>
